<html>

<head>
    <title>Django Girls blog</title>
    <style>
        a:visited{
            color:darkorchid
        }
        a{
            color:#b19dd8
        }
        div{
            margin-left: 5%
        }
        p{
            margin-left: 5%
        }
        body{
            background-color:#19171c;
            color: #cbc8d0;
        }
    </style>
</head>

<body>
    {% for post in posts %}
    <div>

        <h1>
            <a href="">{{ post.title }}</a>
        </h1>
        <p>published: {{ post.published_date }}</p>
        <p>{{ post.text|safe }}</p>
    </div>
    <hr style="border-color:blueviolet">
    {% endfor %}
</body>

</html>